* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sansita Swashed', cursive;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* font-weight: 400; */
    font-size: 16px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.grid-container {
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-content: center;
    width: 400px;
    height: 600px;
    -webkit-box-shadow: 14px 11px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 14px 11px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 14px 11px 24px 0px rgba(0, 0, 0, 0.75);
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "results results results results"
        "seven eight nine divide"
        "four five six multiply"
        "one two three minus"
        "zero zero delete plus"
        "clear clear clear point"
        "root equal equal factorial";
}

.results {
    border-radius: 20px 20px 0 0;
}

.equal {
    grid-area: equal;
    background-color: #087E8B;
    color: white;
}

.divide {
    grid-area: divide;
    background-color: #087E8B;
    color: white;
}

.zero {
    grid-area: zero;
    background-color: #2F4550;
    color: white;
}

.point {
    grid-area: point;
    background-color: #087E8B;
    color: white;
}

.multiply {
    grid-area: multiply;
    background-color: #087E8B;
    color: white;
}

.minus {
    grid-area: minus;
    background-color: #087E8B;
    color: white;
}

.plus {
    grid-area: plus;
    background-color: #087E8B;
    color: white;
}

.seven {
    grid-area: seven;
    background-color: #2F4550;
    color: white;
}

.eight {
    grid-area: eight;
    background-color: #2F4550;
    color: white;
}

.nine {
    grid-area: nine;
    background-color: #2F4550;
    color: white;
}

.four {
    grid-area: four;
    background-color: #2F4550;
    color: white;
}

.five {
    grid-area: five;
    background-color: #2F4550;
    color: white;
}

.six {
    grid-area: six;
    background-color: #2F4550;
    color: white;
}

.one {
    grid-area: one;
    background-color: #2F4550;
    color: white;
}

.two {
    grid-area: two;
    background-color: #2F4550;
    color: white;
}

.three {
    grid-area: three;
    background-color: #2F4550;
    color: white;
}

.clear {
    grid-area: clear;
    background-color: #2F4550;
    color: white;
}

.delete {
    grid-area: delete;
    background-color: #2F4550;
    color: white;
}

.root {
    grid-area: root;
    border-radius: 0 0 0 20px;
    background-color: #087E8B;
    color: white;
}

.factorial {
    grid-area: factorial;
    border-radius: 0 0 20px 0;
    background-color: #087E8B;
    color: white;
}


.grid-container>button {
    cursor: pointer;
    font-size: 25px;
    outline: none;
    border: none;
    transition: 0.3s ease-in-out;
}


.grid-container>button:hover {
    background-color: white;
    color: black;
    opacity: 75%;
}

.results {
    grid-column: 1 /-1;
    background-color: rgba(0, 0, 0, .55);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
    word-wrap: break-word;
    word-break: break-all;
}

.results .previous {
    color: white;
    opacity: 0.75;
    font-size: 1.2rem;
}

.results .current {
    color: rgb(226, 181, 181);
    font-size: 2rem;
}

.footer {
    color: #2F4550;
}
.tooltip{
    --balloon-border-radius:10px;

}